.calculator {
    display: grid;
    place-content: center;
    height: 100vh;
}

.calculator-screen {
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    border-radius: 20px 20px 0 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
}

.all-clear,
.zero-btn {
    width: 50%;
}

.zero-btn {
    border-radius: 0 0 0 20px;
}

.equal-sign {
    border-radius: 0 0 20px 0;
}

.operator,
.equal-sign {
    background-color: orange;
}

button:active {
    background-color: darkgray;
    scale: 103%;
}

.operator:hover,
.equal-sign:active,
.operator:focus {
    background-color: #fff;
    color: orange;
}
